
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');


body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 18px;
    line-height: 24px;
}

header{
    text-align: center;
    background-size: cover;
    padding: 20px;
}

h1{
    font-family: "Kapakana", cursive;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    padding: 20;
 }

h2{
    font-family:'Franklin Gothic Medium';
    font-weight: 100;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    
 }

 main{
    width: 800px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 0;
    color:white;
 }

